<div class="row mb-1">
  <div class="col-md-6 offset-md-3">
    <div class="list-group">
      <%= link_to "#{the_user.username}", user_path(the_user.username), class: "list-group-item list-group-item-action" %>
    </div>
  </div>
</div>