<%= render "shared/tabs", current_tab: "followers" %>

<p class="text-center text-secondary mt-2">
  You have <%= current_user.followers.count %> followers.
</p>

<% current_user.followers.each do |follower| %>
  <%= render "users/list", the_user: follower %>
<% end %>