<%= render "shared/tabs", current_tab: "feed" %>

<p class="text-center text-secondary mt-2">
  Currently viewing <%= current_user.feed.count %> photos posted by users you follow
</p>

<% current_user.feed.each do |photo| %>
  <%= render "photos/photo", photo: photo %>
<% end %>